SECRET_KEY=5j01ygHNQ7s17PCkNuI9x0fHSNUziwGy958zbGv9Dg8K9Q9fIOrDr4JEuN94KRW0XUg
DEBUG=False


DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432

DJANGO_LOG_LEVEL=INFO
